<a href="https://colab.research.google.com/github/Alakay-cloud/Moringa_Data_Science_Prep_W4_Independent_Project_2020_04_Alex_Mburu/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_04_Alex_Mburu_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Independent project


In this weeks independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;


Research Question

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

Bonus Questions (Optional)

What is the most popular hour for returning cars?
What station is the most popular?
Overall?
At the most popular picking hour?
What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?
At the most popular picking hour?
Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

# Importing our libraries

In [0]:
# Importing libraries
#
import pandas as pd

# Importing our Csv files and creating our dataset.

In [0]:
#csv = 'Autolib_dataset(2).csv'
df = pd.read_csv('Autolib_dataset.csv')
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# View our data info

In [0]:
# Getting information from our dataset.
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Data Preparation/Cleaning

># 1.1 Validity

In [0]:
#Procedure 1
# Data Cleaning Action: Droping the irrelevant Scheduled at column
# Explanation: We are droping it since its not useful in our analysis.
#
df.drop(['Scheduled at', 'Subscription status', 'Cars', 'Geo point', 'Status'], axis=1, inplace=True)

In [0]:
df

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 20 columns]

># 1.2 Accuracy

In [0]:
# Procedure 2
# Data Cleaning Action: Checking for null values in our dataset.
# Explanation: This is to allows us to determin the columns that have null values.
# 
df.isnull().sum()
#

Address                  0
Bluecar counter          0
Utilib counter           0
Utilib 1.4 counter       0
Charge Slots             0
Charging Status          0
City                     0
Displayed comment     4889
ID                       0
Kind                     0
Postal code              0
Public name              0
Rental status            0
Slots                    0
Station type             0
year                     0
month                    0
day                      0
hour                     0
minute                   0
dtype: int64

># 1.3 Completeness

In [0]:
# Procedure 8
# Data Cleaning Action: Check for duplicate values.
# Explanation: This is to allow us determine data that is duplicated.
#
df.duplicated().sum()

# This shows that there are no duplicated values

0

># 1.4 Consistency

In [0]:
# Data Cleaning Action: Droping the irrelevant Subscription status at column
# Explanation: We are droping it has null values.
#
df.drop(['Displayed comment'], axis=1, inplace=True)
#df.dropna(axis=1, how="all")
#

In [164]:
df

                                 address  bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 19 columns]

># 1.5 Uniformity

In [0]:
# Procedure 9
# Data Cleaning Action: Converting column names to lowercase characters.
# Explanation: This is to allow for a uniform columns in the dataframe.
#
df.columns = df.columns.str.rstrip().str.lower()
df.head()

                              address  bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 19 columns]

In [0]:
# Procedure 1:
# Data Cleaning Action: Converting row values to lowercase characters.
# Explanation: This is to allow for rows to have uniform values which are in lowercase in the dataframe.
#
#df = df.astype(str).apply(lambda x: x.str.lower())
#df.head(3)

In [0]:
df.rename(columns={'utilib 1.4 counter':'utilib 1.4'}, inplace=True)

print(df.columns)

Index(['address', 'bluecar counter', 'utilib counter', 'utilib 1.4',
       'charge slots', 'charging status', 'city', 'id', 'kind', 'postal code',
       'public name', 'rental status', 'slots', 'station type', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

# Exporting our clean csv file.

In [0]:
df.to_csv("autolib_clean.csv")

# Analysis
# Answering Questions

#  *Using Bluecar counter*

In [134]:
#Question 1;
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

#popular_hr = df.groupby(['hour']).size().sort_values(ascending=False)
#popular_hr
x = df[(df['city']=='Paris') &
    (df['month']==4) & (df['bluecar counter'] == 0)]
popular_hr = x.groupby(['hour']).size().sort_values(ascending=False)
popular_hr

hour
2     54
21    52
3     52
16    50
23    49
8     49
20    48
14    48
7     48
4     44
5     43
6     43
9     42
0     42
10    41
1     41
19    39
17    38
22    37
11    37
18    36
13    34
15    32
12    30
dtype: int64

In [96]:
#Question 2;
#What is the most popular hour for returning cars?
y = df[(df['slots'] == 0) & (df['bluecar counter'] > 0)]
popular_hrcr = y.groupby(['hour']).size().sort_values(ascending=False)
popular_hrcr

hour
6     63
13    63
5     62
9     61
7     61
21    59
12    59
22    57
19    56
3     56
8     55
15    54
11    53
1     53
0     53
4     52
2     52
10    51
20    51
14    48
17    48
16    46
18    44
23    41
dtype: int64

In [143]:
#What station is the most popular?
#Overall?
#
z = df[(df['kind'] == 'STATION') & (df['bluecar counter'] == 0)]
popular_stat = z.groupby(['public name']).size().sort_values(ascending=False)
popular_stat.head(1)

public name
Limeil-BrÃ©vannes/Lavoisier/12    8
dtype: int64

In [144]:
#What station is the most popular?
#at the most popular picking hour
#
y = z[(z['hour'] == 2)]
b = y.groupby(['public name']).size().sort_values(ascending=False)
b.head(10)

public name
Versailles/Bonne Aventure/68    1
Paris/Commandant Lamy/2         1
Paris/Grande ArmÃ©e/81          1
Paris/Georges Mandel/42         1
Paris/Friedland/42              1
Paris/FranÃ§ois 1er/38          1
Paris/Francois 1er/7            1
Paris/Four/38                   1
Paris/Fleurs/23                 1
Paris/Dutuit/1                  1
dtype: int64

In [145]:
#What postal code is the most popular for picking up Blue cars? 
#Does the most popular station belong to that postal code?
#Overall?
x = df[(df['bluecar counter'] == 0 ) & (df['slots'] > 0)]
pst = x.groupby('postal code').size().sort_values(ascending=False)
pst.head(1)

postal code
75008    85
dtype: int64

In [165]:
#Does the most popular station belong to that postal code?
#Overall?
c = df[(df['bluecar counter'] > 0 ) & (df['slots'] > 0) & (df['postal code'] == 75008)]
d = c.groupby('public name').size().sort_values(ascending=False)
d

public name
Paris/Rome/73              5
Paris/Courcelles/69        4
Paris/LiÃ¨ge/24            3
Paris/Saint-HonorÃ©/161    3
Paris/Monceau/43           3
Paris/Haussmann/61         3
Paris/Malesherbes/113      3
Paris/Concorde/Parking     2
Paris/Friedland/42         2
Paris/Chateaubriand/19     2
Paris/Saint-HonorÃ©/422    2
Paris/Malesherbes/7        2
Paris/Matignon/2           2
Paris/Berri/10             2
Paris/Saint-HonorÃ©/123    2
Paris/Constantinople/4     1
Paris/Astorg/11            1
Paris/Saint-HonorÃ©/91     1
Paris/Hoche/31             1
Paris/Courcelles/40        1
Paris/Francois 1er/7       1
Paris/George V/44          1
Paris/Messine/12           1
Paris/Rome/46              1
Paris/Artois/11            1
dtype: int64

In [147]:
#What postal code is the most popular for picking up Blue cars? 
#Does the most popular station belong to that postal code?
#At the most popular picking hour?
c = df[(df['bluecar counter'] == 0 ) & (df['slots'] > 0) & (df['postal code'] == 75008) & (df['hour'] == 2)]
d = c.groupby('public name').size().sort_values(ascending=False)
d.head(1)

public name
Paris/Friedland/42    1
dtype: int64

#  *Using Utilib*

In [148]:

#popular_hr = df.groupby(['hour']).size().sort_values(ascending=False)
#popular_hr
x = df[(df['city']=='Paris') &
    (df['month']==4) & (df['utilib counter'] == 0)]
popular_hr = x.groupby(['hour']).size().sort_values(ascending=False)
popular_hr

hour
21    140
16    124
3     120
8     119
9     117
2     117
12    115
23    115
10    114
7     114
6     112
5     112
19    111
4     109
13    108
17    107
20    107
0     105
15    105
18    104
22    103
1     102
14     99
11     97
dtype: int64

In [149]:
#Question 2;
#What is the most popular hour for returning cars?
y = df[(df['slots'] == 0) & (df['utilib counter'] > 0)]
popular_hrcr = y.groupby(['hour']).size().sort_values(ascending=False)
popular_hrcr

hour
5     11
7     10
22     8
14     8
6      7
18     7
1      7
11     6
19     6
20     6
13     5
12     5
3      5
9      5
21     5
15     5
2      4
0      4
8      4
10     4
17     4
4      3
16     3
23     1
dtype: int64

In [150]:
#What station is the most popular?
#Overall?
#
z = df[(df['kind'] == 'STATION') & (df['utilib counter'] == 0)]
popular_stat = z.groupby(['public name']).size().sort_values(ascending=False)
popular_stat.head(1)

public name
SÃ¨vres/WolfenbÃ¼ttel/1    11
dtype: int64

In [151]:
#What station is the most popular?
#at the most popular picking hour
#
y = z[(z['hour'] == 21)]
b = y.groupby(['public name']).size().sort_values(ascending=False)
b.head(10)

public name
Paris/Tronchet/19                     4
Paris/Voltaire/182                    3
Alfortville/Europe/22                 2
Paris/Flandre/61                      2
Paris/HÃ´pital/47                     2
Paris/Reille/59                       2
Paris/Belleville/22                   2
ChÃ¢tenay-Malabry/Jean JaurÃ¨s/280    2
Paris/Ãmile Reynaud/4                2
Paris/Boulard/1                       2
dtype: int64

In [152]:
#What postal code is the most popular for picking up Blue cars? 
#Does the most popular station belong to that postal code?
#Overall?
x = df[(df['utilib counter'] == 0 ) & (df['slots'] > 0)]
pst = x.groupby('postal code').size().sort_values(ascending=False)
pst.head(1)

postal code
75015    156
dtype: int64

In [166]:
#Does the most popular station belong to that postal code?
#Overall?
c = df[(df['utilib counter'] == 0 ) & (df['slots'] > 0) & (df['postal code'] == 75015)]
d = c.groupby('public name').size().sort_values(ascending=False)
d

public name
Paris/Pasteur Montparnasse/Parking         7
Paris/ArrivÃ©e/16                          6
Paris/Convention/171                       5
Paris/Finlay/43                            5
Paris/Miollis/21                           5
Paris/Lecourbe/178                         5
Paris/Vaugirard/20                         5
Paris/SÃ©bastien Mercier/44                4
Paris/Ãmile Zola/143                      4
Paris/Grenelle/37                          4
Paris/Dantzig/80                           4
Paris/Ãmile Duclaux/19                    4
Paris/Morillons/95                         4
Paris/Olier/15                             4
Paris/Pasteur/41                           4
Paris/Colonel Pierre Avia/1                4
Paris/Suffren/161                          4
Paris/Balard/108                           4
Paris/Suffren/44                           4
Paris/Commerce/5                           3
Paris/HÃ©ricart/54                         3
Paris/Cambronne/Parking                    3
Paris/Cotentin/29                          3
Paris/Dantzig/37                           3
Paris/Etienne Pernet/26                    3
Paris/FÃ©lix Faure/109                     3
Paris/Houdart de Lamotte/2                 3
Paris/Ãmile Zola/65                       3
Paris/Mademoiselle/22                      3
Paris/Suffren/2                            3
Paris/Paul Barruel/44                      3
Paris/Lourmel/33                           3
Paris/Mademoiselle/67                      2
Paris/Balard/18                            2
Paris/Olivier de Serres/3                  2
Paris/Vaugirard/230                        2
Paris/Convention/75                        2
Paris/Croix Nivert/192                     2
Paris/Suffren/78                           2
Paris/Emile Zola/6                         2
Paris/Lourmel/79                           2
Paris/VouillÃ©/47                          2
Paris/Gerbert/11                           2
Paris/Lecourbe/63                          2
Paris/Jean Sicard/1                        1
Paris/Maine/4                              1
Paris/FÃ©dÃ©ration/10                      1
Paris/Suffren/112                          1
Paris/Lecourbe Mairie du XVÃ¨me/Parking    1
Paris/Leblanc/19                           1
Paris/Lacordaire/56                        1
dtype: int64

In [155]:
#What postal code is the most popular for picking up Blue cars? 
#Does the most popular station belong to that postal code?
#At the most popular picking hour?
c = df[(df['utilib counter'] == 0 ) & (df['slots'] > 0) & (df['postal code'] == 75015) & (df['hour'] == 21)]
d = c.groupby('public name').size().sort_values(ascending=False)
d.head(1)

public name
Paris/SÃ©bastien Mercier/44    1
dtype: int64

#  *Using Utilib 1.4*

In [156]:

#popular_hr = df.groupby(['hour']).size().sort_values(ascending=False)
#popular_hr
x = df[(df['city']=='Paris') &
    (df['month']==4) & (df['utilib 1.4'] == 0)]
popular_hr = x.groupby(['hour']).size().sort_values(ascending=False)
popular_hr

hour
21    129
8     120
2     116
16    115
3     112
7     112
6     110
12    108
23    107
10    105
9     104
13    103
4     102
5     101
0     101
17    101
18    101
20    101
19     99
15     98
11     97
14     96
1      94
22     91
dtype: int64

In [157]:
#Question 2;
#What is the most popular hour for returning cars?
y = df[(df['slots'] == 0) & (df['utilib 1.4'] > 0)]
popular_hrcr = y.groupby(['hour']).size().sort_values(ascending=False)
popular_hrcr

hour
3     19
5     17
9     16
22    15
21    13
14    13
6     13
7     13
20    12
19    12
10    12
4     11
17    11
15    11
1      9
0      9
12     9
2      9
16     9
18     9
13     8
11     6
8      6
23     4
dtype: int64

In [158]:
#What station is the most popular?
#Overall?
#
z = df[(df['kind'] == 'STATION') & (df['utilib 1.4'] == 0)]
popular_stat = z.groupby(['public name']).size().sort_values(ascending=False)
popular_stat.head(1)

public name
Paris/Voltaire/182    11
dtype: int64

In [159]:
#What station is the most popular?
#at the most popular picking hour
#
y = z[(z['hour'] == 21)]
b = y.groupby(['public name']).size().sort_values(ascending=False)
b.head(10)

public name
Paris/Tronchet/19                     4
Paris/Voltaire/182                    3
Alfortville/Europe/22                 2
Paris/Ãmile Reynaud/4                2
Paris/Pernety/46                      2
Paris/Picpus/122                      2
Nanterre/Pablo Neruda/6               2
Paris/Reille/59                       2
Paris/HÃ´pital/47                     2
ChÃ¢tenay-Malabry/Jean JaurÃ¨s/280    2
dtype: int64

In [160]:
#What postal code is the most popular for picking up Blue cars? 
#Does the most popular station belong to that postal code?
#Overall?
x = df[(df['utilib 1.4'] == 0 ) & (df['slots'] > 0)]
pst = x.groupby('postal code').size().sort_values(ascending=False)
pst.head(1)

postal code
75015    150
dtype: int64

In [161]:
#Does the most popular station belong to that postal code?
#Overall?
c = df[(df['utilib 1.4'] == 0 ) & (df['slots'] > 0) & (df['postal code'] == 75015)]
d = c.groupby('public name').size().sort_values(ascending=False)
d.head()

public name
Paris/ArrivÃ©e/16                     7
Paris/Pasteur Montparnasse/Parking    7
Paris/Balard/108                      6
Paris/Miollis/21                      6
Paris/Suffren/161                     5
dtype: int64

In [162]:
#What postal code is the most popular for picking up Blue cars? 
#Does the most popular station belong to that postal code?
#At the most popular picking hour?
c = df[(df['utilib 1.4'] == 0 ) & (df['slots'] > 0) & (df['postal code'] == 75015) & (df['hour'] == 21)]
d = c.groupby('public name').size().sort_values(ascending=False)
d.head(1)

public name
Paris/SÃ©bastien Mercier/44    1
dtype: int64